.content {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.containerChar {
  height: 55px;
  color: #4285f4;
  font-weight: normal;
  font-size: small;
  font-family: arial,sans-serif;
}

.googleChar {
  background: url('../../assets/google_sprites.png') no-repeat;
  background-size: 167px;
  height: 40px;
  display: block;
}

.gChar {
  background-position: -24px 0;
  width: 28px;
}

.gCharWithPrevius {
  background-position: 0 0;
  width: 53px;
}

.oCharActive {
  background-position: -53px 0;
  width: 20px;
}

.oCharDefault {
  background-position: -74px 0;
  width: 20px;
}

.gleChar {
  background-position: -96px 0;
  width: 71px;
}